/* колір основного тексту #212121 */
/* колір вторичного текста #757575 */
/* білий #FFFFFF */
/* акцент #2196F3 */
/* додотковий колір фону #2F303A */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --section-bg-color: #2f303a;
  --text-logo: #000000;
  --bg-hero: #2f303a;
  --primary-border-color: #ececec;
  --secondary-border-color: #eeeeee;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.list.centered {
  text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;

  /* outline: 2px solid #2196f3; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section:last-child {
  margin-bottom: 0;
}

/* лого */
.logo {
  color: var(--text-logo);
  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.accent {
  color: var(--accent-color);
}
.accent-footer {
  color: var(--primary-white-color);
}
.link {
  text-decoration: none;
}

/* навігація сайта */

.nav-main {
  border-bottom: 1px solid var(--primary-border-color);
}

.nav-menu {
  display: flex;
  align-items: center;
}
.nav-site {
  display: flex;
  padding-left: 93px;
}
.nav-site .item {
  margin-right: 50px;
}

.nav-site .item:last-child {
  margin-right: 0;
}

.nav-site .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.nav-site .link-accent {
  color: var(--accent-color);
}

.nav-site .link-accent,
.nav-site .link:hover,
.nav-site .link:focus {
  color: var(--accent-color);
}

.nav-contact {
  display: flex;
  margin-left: auto;
}
.nav-contact .item + .item {
  margin-left: 50px;
}

.nav-contact .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.nav-contact .link:hover,
.nav-contact .link:focus {
  color: var(--accent-color);
}

/* герой */
.hero {
  padding-bottom: 280px;
  padding-top: 200px;
  background: var(--bg-hero);
  text-align: center;
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  color: var(--primary-white-color);

  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}

/* особливості */

.title-hiden {
  color: rgba(8, 8, 8, 0.603);
}
.features {
  display: flex;
  justify-content: space-between;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.features-list {
  width: 270px;
  margin-right: 30px;
}
.features-list:last-child {
  margin-right: 0;
}
.features .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.features-paragraph {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* чим займаємося */

.section.section-features {
  padding-top: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.section-contect {
  margin-right: 30px;
}
.section-contect:last-child {
  margin-right: 0;
}

/* команда */

.team {
  background-color: var(--secondary-bg-color);
}
.team-list {
  display: flex;
  justify-content: space-between;
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-content {
  margin-right: 30px;

  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-content:last-child {
  margin-right: 0;
}

.team-title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-text {
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

/* футер */
.logo-fotter {
  margin-bottom: 20px;
}
.address {
  background: var(--bg-hero);
}

.address-nav {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-nav-list {
  margin-bottom: 9px;
}
.address-nav-list:last-child {
  margin-bottom: 0;
}

.address-nav .link {
  /* margin-bottom: 9px; */
  font-style: normal;
}

.address-nav .link:hover,
.address-nav .link:focus {
  color: var(--accent-color);
}

.address-nav-adr {
  color: var(--primary-white-color);
}

.address-nav-cont {
  color: rgba(255, 255, 255, 0.6);
}

/* кнoпка */

.button {
  padding: 6px 25px;
  color: var(--title-text-color);
  background: var(--primary-border-color);
  font-family: inherit;
  border: none;
  letter-spacing: 0.06em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
}
.flex-menu-item {
  margin-right: 8px;
}

.flex-menu .flex-btn:last-child {
  margin-right: 0;
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button.primary {
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: var(--primary-white-color);
  background: var(--accent-color);

  font-weight: 700;
  line-height: 1.87;
}

.button.primary:hover,
.button.primary:focus {
  color: var(--primary-white-color);
  background: var(--secondary-accent-color);
}

.button.secondary {
  color: var(--primary-white-color);
  background: var(--accent-color);
}
.button.secondary:hover,
.button.secondary:focus {
  color: var(--title-text-color);
}

/* Портфоліо */

/* приклади робіт */

.flex-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.project-img {
  display: block;
}

.project-card {
  padding: 20px 24px;
  border: 1px solid var(--secondary-border-color);
}

.project-title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-style: normal;
  font-size: 18px;
  line-height: 2;
}

.project-text {
  font-size: 16px;
  line-height: 1.88;
}

/* box-sizing: border-box; */

.flex-element:nth-child(3n) {
  margin-right: 0;
}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
